<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Holds
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let h of this.user.holds" class="ng-cloak">
      <ion-thumbnail slot="start">
        <ion-img [src]="h['cover']"></ion-img>
      </ion-thumbnail>
      <ion-label>{{h['title_display']}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
