<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TADL Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!this.events">
    Events aren't loaded yet.
  </div>

  <ion-list *ngIf="this.events">

    <ion-item *ngFor="let event of this.events" (click)="view_details(event)" detail="true">
      <ion-thumbnail slot="start" *ngIf="event.image && event.image.extension != 'pdf'">
        <ion-img [src]="event.image.sizes.thumbnail.url"></ion-img>
      </ion-thumbnail>
      <ion-thumbnail slot="start" *ngIf="!event.image || event.image.extension == 'pdf'">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2 [innerHTML]="event.title"></h2>
        </ion-text>
        <ion-text>
          <p [innerHTML]="globals.format_date(event.start_date, 'event')"></p>
        </ion-text>
        <ion-text color="medium" *ngIf="event.venue">
          <p>{{event.venue.venue}}</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="load_more_data($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more events ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
