<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TADL Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh_events($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!this.events" text-center>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="calendar" class="heading"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>Loading Events...</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>{{ some_error }}</div>
  </div>

  <ion-list *ngIf="this.events">

    <ion-item *ngIf="globals.multi_location == true">
      <ion-label class="location-label">Location</ion-label>
      <ion-select [(ngModel)]="location" interface="popover" (ionChange)="get_events(1, location)" class="location-select">
        <ion-select-option value="">All Locations</ion-select-option>
        <ion-select-option *ngFor="let venue of globals.event_venues" [value]="venue.venue">{{ venue.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let event of this.events" (click)="view_details(event)" detail="true">
      <ion-thumbnail slot="start" *ngIf="event.image && event.image.extension != 'pdf'">
        <ion-img [src]="event.image.sizes.thumbnail.url"></ion-img>
      </ion-thumbnail>
      <ion-thumbnail slot="start" *ngIf="!event.image || event.image.extension == 'pdf'">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2 [innerHTML]="event.title"></h2>
        </ion-text>
        <ion-text>
          <p [innerHTML]="globals.format_date(event.start_date, 'event')"></p>
        </ion-text>
        <ion-text color="medium" *ngIf="event.venue">
          <p>{{event.venue.venue}}</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="load_more_data($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more events ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
