<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TADL Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!this.events">
    Events aren't loaded yet.
  </div>

  <ion-list *ngIf="this.events">

    <ion-item *ngFor="let event of this.events" (click)="view_details(event.id,event.title,event.description,event.start_date,event.venue.venue)">
      <ion-thumbnail item-start *ngIf="event.image && event.image.extension != 'pdf'">
        <img src="{{event.image.sizes.thumbnail.url}}" />
      </ion-thumbnail>
      <ion-label text-wrap>
        <ion-text>
          <h2 [innerHTML]="event.title"></h2>
        </ion-text>
        <!-- <ion-note [innerHTML]="hi"></ion-note> -->
        <ion-text color="secondary" *ngIf="event.venue">
          <p>{{event.venue.venue}}</p>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
