.detail-title {
  margin: 0;
  padding: 0px 4px 8px 4px;
}
.detail-cover-image {
  margin: 0;
  padding: 0px 8px 8px 0px;
}
.detail-author {
  margin: 0;
  padding: 0px 4px 8px 0px;
}
.detail-description {
  margin: 0;
  padding: 0px 4px 8px 0px;
}
.detail-contents,
.detail-publisher,
.detail-description,
.detail-electronic,
.detail-availability {
  margin: 0;
  padding: 4px;
}
