<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hours &amp; Locations
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!this.locations" margin>
  Locations aren't loaded yet.
  </div>

  <ion-list *ngIf="this.locations">
    <ion-item *ngFor="let location of this.locations" (click)="view_details(location)" detail="true" lines="full">
      <ion-thumbnail slot="start" *ngIf="location.image">
        <ion-img [src]="location.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2 [innerHTML]="location.fullname"></h2>
        </ion-text>
        <ion-text>
          <p *ngIf="location[globals.day_today().toLowerCase()]=='Closed'">Closed today</p>
          <p *ngIf="location[globals.day_today().toLowerCase()]!='Closed'">Open {{ location[globals.day_today().toLowerCase()] }} today</p>
        </ion-text>
        <ion-text color="medium">
          <p>{{ location.address }}, {{ location.citystatezip }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
