<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hours &amp; Locations
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let location of this.locations">
    <img [src]="location.image">
    <ion-card-title>
      {{location.fullname}}
    </ion-card-title>
    <p>
      <ion-text text-center>{{location.address}}, {{location.citystatezip}}</ion-text>
    </p>
    <p>
      <ion-text text-center>
        <a href="tel:{{location.phone}}">{{location.phone}}</a> &bull; <a href="mailto:{{location.email}}">{{location.email}}</a>
      </ion-text>
    </p>
    <ion-grid>
      <ion-row>
        <ion-col size="5">Sunday</ion-col>
        <ion-col size="7">{{location.sunday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Monday</ion-col>
        <ion-col size="7">{{location.monday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Tuesday</ion-col>
        <ion-col size="7">{{location.tuesday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Wednesday</ion-col>
        <ion-col size="7">{{location.wednesday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Thursday</ion-col>
        <ion-col size="7">{{location.thursday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Friday</ion-col>
        <ion-col size="7">{{location.friday}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Saturday</ion-col>
        <ion-col size="7">{{location.saturday}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
