<ion-header>
  <ion-toolbar>
    <ion-title>TADL News</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="button button-clear">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 text-center [innerHTML]="post.title.rendered" style="margin-top: 0;"></h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <img *ngIf="post.featured_image_urls.large" [src]="post.featured_image_urls.large" style="max-width:40%;float:left;margin:0 8px 5px 0;"></img>
        <div [innerHTML]="post.content.rendered"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
