<ion-app>
  <ion-split-pane>
    <ion-menu side="start" menuId="left">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" menu="left">
            <ion-item routerDirection="root" routerLink="/home" detail="true">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/search" detail="true">
              <ion-icon slot="start" name="search"></ion-icon>
              <ion-label>Search</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/locations" detail="true">
              <ion-icon slot="start" name="compass"></ion-icon>
              <ion-label>Hours &amp; Locations</ion-label>
            </ion-item>
            <ion-item (click)="globals.open_account_menu()" detail="true">
              <ion-icon slot="start" name="contact"></ion-icon>
              <ion-label>Account</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/events" detail="true">
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Events</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/news" detail="true">
              <ion-icon slot="start" name="megaphone"></ion-icon>
              <ion-label>News</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/featured" detail="true">
              <ion-icon slot="start" name="star"></ion-icon>
              <ion-label>Featured Items</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-menu side="end" menuId="right">
      <ion-header>
        <ion-toolbar>
          <ion-title>Account</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="user.logged_in == true">
        <ion-list>
          <ion-menu-toggle auto-hide="false" menu="right">
            <ion-item routerDirection="root" routerLink="/checkouts" detail="false" [disabled]="user.checkout_count == 0">
              <ion-label>Checkouts</ion-label>
              <ion-badge slot="end">{{ user.checkout_count }}</ion-badge>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/holds" detail="false" [disabled]="user.holds_count == 0">
              <ion-label>Holds</ion-label>
              <ion-badge slot="end">{{ user.holds_count }}</ion-badge>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/holds-ready" detail="false" [disabled]="user.holds_ready_count == 0">
              <ion-label>Holds Ready for Pickup</ion-label>
              <ion-badge slot="end">{{ user.holds_ready_count }}</ion-badge>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/fines" detail="false" [disabled]="user.fines_exist!=true">
              <ion-label>Fines</ion-label>
              <ion-badge slot="end">${{ user.fines_amount }}</ion-badge>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/checkout-history" detail="true">
              <ion-label>Checkout History</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button expand="full" color="success" (click)="view_card();"><ion-ripple-effect></ion-ripple-effect>View Card</ion-button>
        <ion-button expand="full" color="danger" (click)="user.logout()"><ion-ripple-effect></ion-ripple-effect>Log Out</ion-button>
      </ion-content>
      <ion-content *ngIf="user.logged_in == false">
        <ion-list>
          <ion-menu-toggle auto-hide="false" menu="right">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" name="username" [(ngModel)]="user.username" (click)="$event.stopPropagation();"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="user.password" (click)="$event.stopPropagation();"></ion-input>
            </ion-item>
            <ion-button expand="full" color="primary" (click)="$event.stopPropagation();user.login();"><ion-ripple-effect></ion-ripple-effect>Log in</ion-button>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
