<ion-header>
  <ion-toolbar>
    <ion-title>Event Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="button button-clear">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<img [src]="event.image.url" *ngIf="event.image.url">
<p>id: {{event.id}}</p>
<p>title: {{event.title}}</p>
<p>description: <span [innerHTML]="event.description"></span></p>
<p>start_date: {{event.start_date}}</p>
<p>venue: {{event.venue.venue}}</p>

</ion-content>
