<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Featured Items
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="item.featured">
    <ion-segment [(ngModel)]="type">
      <ion-segment-button *ngFor="let key of item.featured_keys" [value]="key">
        <ion-label>{{ key }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="type">
      <ion-grid *ngFor="let key of item.featured_keys" no-margin no-padding>
        <ion-row *ngSwitchCase="key" no-margin no-padding>
          <ion-col *ngFor="let search of item.featured[key]">
            <ion-button (click)="featured_search(search.search_link, search.nice_title)" expand="full">
              {{ search.nice_title }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="results">
    <ion-item-divider>
      <ion-label>{{ this.search_title }}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let result of this.results" (click)="item.details(result)">
      <ion-thumbnail slot="start">
        <ion-img [src]="globals.catalog_covers_medium + result.id"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h2 [innerHTML]="result.title_display"></h2>
        </ion-text>
        <ion-text>
          <p [innerHTML]="result.author_brief"><p>
        </ion-text>
        <ion-text>
          <p>
            <ion-icon [name]="this.globals.item_type.get(result.type_of_resource)"></ion-icon> &bull;
            <span *ngIf="!result.electronic">{{ result.availability.copies_all_available }} available</span> &bull;
            <span *ngIf="!result.electronic">{{ result.holdings[0].call_number }}</span>
            <span *ngIf="result.electronic">Electronic resource from {{ result.source }}</span>
          </p>
        </ion-text>
      </ion-label>
    </ion-item>

  </div>


</ion-content>
