<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search the catalog
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-searchbar (search)="this.get_results()" [(ngModel)]="this.query" [ngModelOptions]="{standalone: true}"></ion-searchbar>
    <ion-button color="primary" expand="full" (click)="this.get_results()">Search</ion-button>
    <ion-item-divider>
      <ion-toggle slot="start" [(ngModel)]="this.advanced" [ngModelOptions]="{standalone: true}" name="advanced"></ion-toggle>
      <ion-label><p style="margin-left: 10px;">ADVANCED OPTIONS</p></ion-label>
    </ion-item-divider>
    <div *ngIf="advanced">
      <ion-item>
        <ion-label>Search Type</ion-label>
        <ion-select [(ngModel)]="this.type" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" [value]="this.type" interface="popover">
          <ion-select-option value="keyword">Keyword</ion-select-option>
          <ion-select-option value="author">Author</ion-select-option>
          <ion-select-option value="title">Title</ion-select-option>
          <ion-select-option value="subject">Subject</ion-select-option>
          <ion-select-option value="series">Series</ion-select-option>
          <ion-select-option value="single_genre">Genre</ion-select-option>
          <ion-select-option value="call_numbers">Call Number</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Format</ion-label>
        <ion-select [(ngModel)]="this.format" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" [value]="this.format" interface="popover">
          <ion-select-option  *ngFor="let format of this.globals.formats" [value]="format">
            {{ format }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ng-template [ngIf]="this.globals.multi_location == true">
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-select [(ngModel)]="this.location" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" [value]="this.location" interface="popover">
            <ion-select-option  *ngFor="let location of this.globals.search_locations" [value]="location.code">
              {{ location.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-template>
      <ion-item>
        <ion-label>Sort By</ion-label>
        <ion-select [(ngModel)]="this.sort" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" [value]="this.sort" interface="popover">
          <ion-select-option  *ngFor="let option of this.globals.sort_options" [value]="option[1]">
            {{ option[0] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Only Show Available Items</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="this.limit_available" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Only Show Physical Items</ion-label>
        <ion-checkbox  [(ngModel)]="this.limit_physical" [ngModelOptions]="{standalone: true}" (ionChange)="this.detect_search_option()" color="primary"></ion-checkbox>
      </ion-item>
    </div>
  </form>
  <ion-item *ngFor="let result of this.results" (click)="item.details(result)">
    <ion-thumbnail slot="start">
      <ion-img [src]="globals.catalog_covers_medium + result.id"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <ion-text>
        <h2 [innerHTML]="result.title_display"></h2>
      </ion-text>
      <ion-text>
        <p [innerHTML]="result.author_brief"><p>
      </ion-text>
      <ion-text>
        <p>
          <span>fmt</span> &bull; <!-- TODO: icon function for format lookup -->
          <span *ngIf="!result.electronic">{{ result.availability.copies_all_available }} available</span> &bull;
          <span *ngIf="!result.electronic">{{ result.holdings[0].call_number }}</span>
          <span *ngIf="result.electronic">Electronic resource from {{ result.source }}</span>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
