.logo-noauth {
  width: 60%;
  max-width: 400px;
  margin: 16px auto;
}
.searchbox {
  margin: 0px;
  padding: 0px;
}
.searchbox-left {
  margin: 0px;
  padding: 0px;
  margin-right: 8px;
}
.searchbox-right {
  margin: 0px;
  padding: 0px;
}
