<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Traverse Area District Library
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!user.logged_in">
      <ion-col size="12">
        <ion-img [src]="'https://'+globals.website_host+'/'+globals.logo_file_name"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.logged_in">
      <ion-col size="3">
        <ion-img [src]="'https://'+globals.website_host+'/'+globals.square_logo_file_name"></ion-img>
      </ion-col>
      <ion-col size="9">
      Hola, {{ user.username }}!


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
