<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Checked out items
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ng-cloak">
  <ion-button *ngIf="user.checkouts.length > 0" expand="full" (click)="user.renew_all()">Renew All</ion-button>

  <ion-card *ngFor="let checkout of user.checkouts">
    <ion-card-header><ion-card-title>{{checkout.title}}</ion-card-title></ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img src="{{this.globals.catalog_covers_medium + checkout.id}}"/>
        </ion-col>
        <ion-col size="9">
          <p><strong>{{checkout.author}}</strong></p>
          <p>
            <span>Due </span>
            <span [innerHTML]="checkout.due_date"></span>
          </p>
          <p><span *ngIf="checkout.renew_attempts == 0">No </span><span *ngIf="checkout.renew_attempts > 0">{{checkout.renew_attempts}} </span>Renewal<span *ngIf="(checkout.renew_attempts > 1) || (checkout.renew_attempts == 0)">s</span> remaining</p>
          <p>Barcode: {{checkout.barcode}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" (click)='item.details(checkout)'>Details</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" [disabled]="checkout.renew_attempts == 0" color="secondary" (click)='user.renew(checkout.checkout_id)'>Renew</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
