<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="left"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Summer Reading
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="right">
        <ion-button>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="this.participants.length > 0 && this.show_register == false">
    <ion-item *ngFor="let participant of this.participants">
      <ion-label>
        <ion-text>
          <h1>
            {{participant.first_name}} {{participant.middle_name}} {{participant.last_name}}
          </h1>
          <h2>
            Club: {{participant.club | uppercase}}
            <ion-button>Record Minutes</ion-button>
          </h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-button>Register another participant</ion-button>
  </div>
  <div *ngIf="this.participants.length == 0 && this.show_register == false">
    <ion-text>
      <h2> Summer Reading Club is Awesome! Sign up and blah blah blah</h2>
    </ion-text>
    <ion-button (click)="this.display_register('true')">Register for Summer Reading</ion-button>
  </div>
  <div *ngIf="this.show_register == true">
    <ion-text>
      <h2>Summer Reading Registration</h2>
      <ion-item>
        <ion-label>First Name:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Middle Name: (optional)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email: (optional) </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Home Library</ion-label>
        <ion-select placeholder="Select One" interface="action-sheet">
          <ion-select-option value="Traverse City">Traverse City</ion-select-option>
          <ion-select-option value="Kingsley">Kingsley</ion-select-option>
          <ion-select-option value="Interlochen">Interlochen</ion-select-option>
          <ion-select-option value="East Bay">East Bay</ion-select-option>
          <ion-select-option value="Fife Lake">Fife Lake</ion-select-option>
          <ion-select-option value="Peninsula">Peninsula</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Shirt Size</ion-label>
        <ion-select placeholder="Select One" interface="action-sheet">
          <ion-select-option  *ngFor="let size of this.shirt_sizes" [value]="size">
            {{ size }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select Club</ion-label>
        <ion-select [(ngModel)]="club" placeholder="Select One" interface="action-sheet" (ionChange)="detect_changed_club()">
          <ion-select-option value="pre-readers">Pre-readers (ages 0-4)</ion-select-option>
          <ion-select-option value="readers">Readers (ages 5-12)</ion-select-option>
          <ion-select-option value="teens">Teens (ages 13-19)</ion-select-option>
          <ion-select-option value="adults">Adults (ages 17+)</ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-item *ngIf="this.club == 'readers' || this.club == 'teens'">
        <ion-label position="stacked">Which type of school will you be attending in the fall?</ion-label>
        <ion-select [(ngModel)]="school_type" placeholder="Select One" interface="action-sheet">
          <ion-select-option *ngIf="this.club != 'teens'" value="pre-school">Pre-School</ion-select-option>
          <ion-select-option  *ngIf="this.club != 'teens'" value="elementary">Elementary School</ion-select-option>
          <ion-select-option value="middle">Middle School</ion-select-option>
          <ion-select-option  *ngIf="this.club == 'teens'" value="high">High School</ion-select-option>
          <ion-select-option  *ngIf="this.club == 'teens'" value="college">College/ Trade School</ion-select-option>
          <ion-select-option value="none">None/Other</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.school_type == 'elementary'">
        <ion-label position="stacked">Select School You Will Attend in Fall</ion-label>
        <ion-select placeholder="Select One" interface="action-sheet">
          <ion-select-option  *ngFor="let school of this.youth_schools" [value]="school.value">
            {{ school.text }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.school_type == 'middle' || this.school_type == 'high'">
        <ion-label position="stacked">Select School You Will Attend in Fall</ion-label>
        <ion-select placeholder="Select One" interface="action-sheet">
          <ion-select-option  *ngFor="let school of this.teen_schools" [value]="school.value">
            {{ school.text }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="this.club == 'readers' || this.club == 'teens'">
         <ion-label>Share summer reading activity with your school</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>
      <ion-button (click)="this.display_register('false')">Cancel</ion-button>
    </ion-text>
  </div>

</ion-content>
